.logo.eremetic {
    width: 10em !important;
}

.error_message {
    float: left;
    left: 35em;
    top: 5em;
}

.ui.list > .item {
    display: flex !important;
}

.main.container {
    padding-top: 100px;
}

.container_section {
    padding-top: 20px;
}

.column .header {
    padding-bottom: 40px;
}

.ui.cpu.icon.svg {
    background: url("../images/cpu.svg");
    background-size: 100% 100%;
}
.ui.ram.icon.svg {
    background: url("../images/ram.svg");
    background-size: 100% 100%;
}

.ui.icon.input>i.icon.svg {
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
}

.list .item .label {
    margin-right: 1em;
    text-align: center;
    width: 10em;
}

.label.task_staging {
    background-color: #00b5ad !important;
    border-color: #00b5ad !important;
    color: #fff !important;
}

.label.task_running {
    background-color: #16ab39 !important;
    border-color: #16ab39 !important;
    color: #fff !important;
}

.label.task_failed {
    background-color: #db2828 !important;
    border-color: #db2828 !important;
    color: #fff !important;
}

.label.task_lost {
    background-color: #a333c8 !important;
    border-color: #a333c8 !important;
    color: #fff !important;
}

.label.task_killed {
    background-color: #f2711c !important;
    border-color: #f2711c !important;
    color: #fff !important;
}

.label.task_finished {
    background-color: #21ba45 !important;
    border-color: #21ba45 !important;
    color: #fff !important;
}

@font-face {
  font-family: "fontcustom";
  src: url("./themes/default/assets/fonts/fontcustom_cb066050d5b786186aa0e7f121427d8b.eot");
  src: url("./themes/default/assets/fonts/fontcustom_cb066050d5b786186aa0e7f121427d8b.eot?#iefix") format("embedded-opentype"),
       url("./themes/default/assets/fonts/fontcustom_cb066050d5b786186aa0e7f121427d8b.woff") format("woff"),
       url("./themes/default/assets/fonts/fontcustom_cb066050d5b786186aa0e7f121427d8b.ttf") format("truetype"),
       url("./themes/default/assets/fonts/fontcustom_cb066050d5b786186aa0e7f121427d8b.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./themes/default/assets/fonts/fontcustom_cb066050d5b786186aa0e7f121427d8b.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.docker:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.docker:before { content: "\f100"; }

.ui.button.eremetic_teal {
  background-color: #0199c8;
}
.volumes .field input,
.volumes_from .field input,
.env .field input,
.labels .field input,
.uri .field input,
.ports .field input,
.ports .field select,
.agent_constraints .field input {
  width: auto !important;
}

.icon.add {
  cursor: pointer;
}

.optional {
  font-style: italic;
}

p.gray {
  color: #cccccc;
}

#show_stdout {
  color: #777777;
  border: 1px solid #bbb;
  background-color: #dddddd;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 1em;
  cursor: pointer;
}

#show_stdout:hover {
  background-color: #eeeeee;
  color: #999999;
}

#kill {
  cursor: pointer;
}
